@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@1,100&family=Roboto:wght@100&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family:  "Kantumruy+Pro", "Roboto";
}

.root{
  --primary: #6D6875; 
  --secondary: #FFCDB2;
  --terciary: #E5989B;
}
