
ul.list li {
    width: auto;
    height: auto;
    float: left;
    margin-inline: 50px;
    background-color: hsl(0, 37%, 39%);
    margin-left: -20px;
    padding-left: 20px;
  };



 /* ul.list li{
    width: auto;
    float: left;
    margin-inline: 10px;
    background-color: beige;
  } */ 